.video_content{
   
    position: absolute;
    width: 100%;
    height: 90%;
}

.centered{
    text-align: center;
}

.player_div {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.player_div .progress-bar{
    background-color: #3A7CFF;
}

.player_div .progress{
    border-radius: 0;
    height: 10px;
    background-color: #AFAFAF;
    margin-bottom: 0;
    border: none;
    box-shadow: none;
}

.player_div .control_container{
    display: flex;
    align-items: center;
    height: 90px;
}

.control_container .flex-row{
    display: flex;
    align-items: center;
    width: 100%;
}

.control_container .control_btn{
    background-color: transparent;
   border: none;
}

.control_img{
    height: 20px;
}

.bcf_img{
    margin: 0 10px
}

.backward_forward_btn{
    display: flex;
    align-items: center;
}

.video_topic{
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

body{
    background-color: rgb(0, 0, 0);
}

#cont{
    widows: 100%;
    height: 50%;
}

#canvas{
    width: 1280px !important;
    height: auto !important;
}

.pagination{
    text-align: center;
}

.progress{
    height: 8px !important;
}

/* .container {
    width: 85% !important;
} */

object{
    width: 100%;
    height: 80vh; 
}

#boxbtn{
text-align: center;

}

#demo{
    text-align: center;
}

p{
    color: steelblue;

    text-align: center;

}

.card-panel{
    padding: 5px !important;
}


@media screen and (max-width: 375px) {
    body {
      background-color: black;
      color: white;
    }
    object{
        width: fit-content;
        height: fit-content;
    }

    #boxbtn{
        text-align: center;
        margin: 5;
        }

    #boxbtn4 {
        display: none;
      
    }

    #boxbtn5 {
        display: none;
    }

    #boxbtn6 {
        display: none;
    }

  }